@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');
.contact-us-page {
    margin: 2%;
    height: 75vh;
    background: url('../images/background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto;
}

.contact-us-modal .css-1wnsr1i {
    border: none;
    border-radius: 14px;
    outline: none;
    background-color:#EEEEEE;
    padding: 16px;
}

.contact-us-container {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 400;
    /* border: 1px solid red; */
    font-size: 17px;
}

.contact-us-container-items {
    height: 5vh;
    width: 100%;
    background-color: #CAD9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us-container-items input {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding: 0% 2%
}

.contact-us-container-items input::placeholder {
    color: black;
    font-size: 17px;
    text-align: center;
}

.contact-us-container-button p{
    margin: initial;
    margin-bottom: 2px;
}
.contact-us-container-button {
    padding: 0.7% 6%;
    border-radius: 20px;
    background-color:#0603A9;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5%;
}

.contact-us-container-contact-us {
    font-size: 12px;
    cursor: pointer;
    
}

.contact-us-container {
    /* border: 2px solid red; */
    height: 70vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-us-container-header {
    /* border: 1px solid red; */
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
    color: #004680;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
}

.contact-us-container-email {
    /* border: 1px solid red; */
    height: 5vh;
    display: flex;
    align-items: center;
    color: #004680;
    font-size: 17px;
    font-family: Roboto;
    /* font-weight: 700; */
    justify-content: space-around;
    width: 50vh;
}
.contact-us-container-body {
    /* border: 1px solid red; */
    height: 50vh;
    color: #004680;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vh;
    flex-direction: column;
}


/* input fields  */
.contact-us-container-item-field {
    height: 5vh;
    width: 55%;
    /* background-color: #CAD9FF; */
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

.contact-us-container-item-field input {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 2.5% 2%;
    width:50vw;
    font-family: Roboto;

}
.contact-us-container-item-field textarea {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 15px;

    /* font-size: 14px; */
    text-align: center;
    
    font-family: Roboto;
    /* padding: 0% 2% */
    height:10vh;
    resize: none;
    width:50vw;

}
.contact-us-header-item {
    color: #004680;
}


.item-3-contact p {
    font-size: 18px;
    font-weight: 800;
    letter-spacing:0.89px;
    background-color:#14559C;
    border-radius: 20px;
    width: 6.6vw;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    cursor: pointer;
    padding: 4% 8%;
}

.contact-inputfields-wrapper {
    /* border: 1px solid red; */
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 90vh; */
    height: 38vh;
    flex-direction: column;
}