.destination-tab{
    /* border: 1px solid red; */
    height: 35vh;
    background-color:#E7E7E7;
    border-radius: 14px;
    width: 75vw;
    margin: auto;
}
.destination-tab-header {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    padding: 1%;
}
.destination-tab-container {
    height: 22vh;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 75vw; */
    /* border: 1px solid red; */

}
.destination-tab-container-item {
    width: 17vw;
    height:12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.destination-tab-select-container {
    height: 18vh;
    margin-top: 6.6vh;
}

.destination-tab-container-item-text {
    font-size: 19px;
    font-weight: 500;
    font-family: Roboto;
}

/* input fields  */
.destination-tab-container-item-field {
    height: 5vh;
    width: 80%;
    background-color: #CAD9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-tab-container-item-field input {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 0% 2%
}
.destination-tab-select {
    height: 13vh;
   
}
.destination-tab-options{
    font-size: 14px;
    display: flex;
    height: 12vh;
    /* align-items: center; */
    justify-content:space-around;
    flex-direction: column;
}
.destination-tab-option {
    cursor: pointer;
}
.destination-tab-selected {
    font-family: Roboto;
    font-weight: 700;
}

/* footer  */
.destination-tab-footer {
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 3.5%;
    width: 6vw;
    margin: auto;
    margin-top: 5.5%;


}

.destination-tab-footer-button {
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    background: #0603A9;
    /* width: 5vw; */
    border-radius: 17px;
    text-align: center;
    padding: 6% 4%;
    /* cursor: pointer; */
}