.error-modal .css-1wnsr1i {
    border: none;
    border-radius: 14px;
    outline: none;
    background-color:#EEEEEE;
    padding: 16px;
    height:36vh;
}
.error-svg {
    height:22vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    margin-bottom: 5%;
}

.error-body {
    font-size: 14px;
    text-align: center;

}