@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');
.landing-page {
    margin: 2%;
    height: 75vh;
    background: url('../images/background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.landing-page-header {
    height: 25vh;
    width: 75vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.landing-page-header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.landing-page-header-item {
    color: #004680;
}
.item-1 p{
    font-size: 3.6em;
    font-weight: 400;
    letter-spacing:3px;
    margin: inherit;
    margin-bottom: 10%;
    font-family: Roboto;

}

.item-2 p {
    font-size: 18px;
    font-weight: 800;
    font-family: Roboto;
    margin: inherit;
    letter-spacing:0.59px;

}

.item-3 p {
    font-size: 24px;
    font-weight: 800;
    letter-spacing:0.89px;
    background-color:#14559C;
    border-radius: 20px;
    width: 8.6vw;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    cursor: pointer;
    padding: 2% 5%;
}