@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');
.login {
  
}

.login-modal .css-1wnsr1i {
    border: none;
    border-radius: 14px;
    outline: none;
    background-color:#EEEEEE;
    padding: 16px;
}

.login-container {
    height: 27vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
}

.login-container-items {
    height: 5vh;
    width: 100%;
    background-color: #CAD9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container-items input {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding: 0% 2%
}

.login-container-items input::placeholder {
    color: black;
    font-size: 17px;
    text-align: center;
}

.login-container-button p{
    margin: initial;
    margin-bottom: 2px;
}
.login-container-button {
    padding: 0.7% 6%;
    border-radius: 20px;
    background-color:#0603A9;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
  
    margin-top: -11px;
    margin-bottom: 5%;
}

.login-container-forgot-password {
    font-size: 12px;
    cursor: pointer;
    
}