.navbar {
    height: 10vh;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto;
}

.navbar-left {
    height: 10vh;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-right {
    height: 10vh;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.navbar-right-group-one {
    height: 7vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.navbar-right-group-two {
    height: 7vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reset {
    width: 20vw;
}

.navbar-left img {
    width: 60%;
}

.navbar-right p {
    cursor: pointer;
}

.border p {
    margin: inherit;
    text-transform: capitalize
}

.border {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 3.8vh;
    width: 7vw;
    padding: 0.2% 2%;
    background: #4A4A4A;
    color: white;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.sign-in-border {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #4A4A4A;
    height: 3.7vh;
    width: 4.5vw;
    padding: 0.2% 2%;
    cursor: pointer;

}

.pricing-border {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.8vh;
    /* width: 7vw; */
    padding: 0.2% 2%;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.wrap-nav p {
    white-space: nowrap;
}
.beta-tag { 
    display: flex;
    justify-content: center;
    background-color: #14559C;
    color: white;
    height: 24px;
    box-sizing: border-box;
    transition: #14559C 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    width: 80px;
    margin-left: 10px;
}