.recommendedPrice {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recommendedPrice-left {
    height: 45vh;
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #dfdfdf;
    border-radius:15px;
}

.recommendedPrice-left-image {
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.recommendedPrice-left-image img {
    width: 75%;
}

.recommendedPrice-left-container {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.recommendedPrice-left-container-text {
    /* border: 1px solid red; */
    width: 90%;
    text-align: center;
    padding: 2.3% 1%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.3px;
    background: #CAD9FF;
}

.recommendedPrice-right {
    height: 45vh;
    /* border: 1px solid red; */
    width: 30%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #dfdfdf;
    border-radius:15px;



    
}

.recommendedPrice-right-top {
    height: 24vh;
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.recommendedPrice-right-bottom {
    height: 5vh;
    /* border: 1px solid red; */
    width: 90%;

}

.recommendedPrice-right-top-text {
    width: 90%;
    text-align: center;
    padding: 2.3% 1%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.3px;
    background: #CAD9FF;
}

.recommendedPrice-right-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recommendedPrice-right-bottom-button{
   padding: 1.8% 9%;
   /* border: 1px solid red; */
   background: #0603A9;
   color: white;
   font-family: Roboto;
   font-weight: 500;
   border-radius: 16px;
   display: flex;
   justify-content: space-around;
   align-items:center;
   height: 22px;
   white-space: nowrap;

}
.recommendedPrice-right-bottom-button-finish{
    padding: 0.3% 3%;
    /* border: 1px solid red; */
    background: #0603A9;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 22px;
    white-space: nowrap;
    width: fit-content;
    margin-top: -30px;
    margin-right: 30px;
 }
 .price-wrapper{
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

 }