@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.shipment-modal .css-1wnsr1i {
    border: none;
    border-radius: 14px;
    outline: none;
    background-color:#EEEEEE;
    height:56vh;
    width: 80vw;
    /* top: 50%; */
}
.shipment-svg {
    height:22vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipment-header {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    margin-bottom: 5%;
}

.shipment-body {
    font-size: 14px;
    text-align: center;

}

/* CSS for modal container */

.shipment-modal-container {
    /* border: 1px solid red; */
    height:100%;
}
.shipment-modal-container-header {
    height: 30%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shipment-modal-container-header-item {
    height: 10vh;
    /* width: 12vw; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    font-size: 34px;
    color: #3C84D3;
    font-family: 'Open Sans';
    font-weight: 700;
    /* letter-spacing: 0.4px; */
}

.shipment-modal-container-content {
    /* border: 1px solid red; */
    height: 30vh;
    width: 45vw;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shipment-modal-container-content-start {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    background: #0603A9;
    /* width: 6vw; */
    border-radius: 20px;
    text-align: center;
    padding: 0.6% 4%;
    cursor: pointer;
}
.selected {
    color:#004680;
}

.shipment-header-expand-icon {
    font-size: 35px !important;
    margin-left: 6px;
}









