@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

.subscription-page {
    margin: 2%;
    height: 75vh;
    background: url('../images/background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto;

}
.subscription-page-header {
    height: 55vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subscription-page-header-container {
    height: 50vh;
    width: 17vw;
    background-color:#EEEEEE;
    border-radius: 16px;
}
.subscription-page-header-container-top {
    height: 8vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    letter-spacing: 1.2px;
    color: white;
    font-weight: 800;
}
.background-1 {
    background: #74C7FF;
}
.background-2 {
    background: #98B2F2;
}
.background-3 {
    background: #1A7DC6;
}
.background-4 {
    background: #14559C;
}

.subscription-page-header-container-middle{
    font-size: 23px;
    font-weight: 800;
    color: #14559C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    letter-spacing: 1.4px;
}
.subscription-page-header-container-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20%;
    letter-spacing:0.7px;
}
.unlimited {
    margin-top: 30%;
}
.contact-us {
    height: 4.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:auto;
    background: #FE9B06;
    color: white;
    border-radius: 19px;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 50%; */
    white-space: nowrap;
    
    width: 8.5%;
    position: absolute;
    left: 76%;
    top: 70%;
}
.choose-plan {
    height: 4.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:auto;
    background: #14559C;
    color: white;
    border-radius: 19px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 8vh;
    white-space: nowrap;
    
}
.choose-plan-free {
    position: absolute;
    width: 8.5%;
    top: 62%;
    left: 16%;
}
.choose-plan-gold {
    position: absolute;
    width: 8.5%;
    top: 62%;
    left: 36%;
}

.choose-plan-diamond {
    width: 8.5%;
    position: absolute;
    left: 56%;
    top: 62%;

}