.success-modal .css-1wnsr1i {
    border: none;
    border-radius: 14px;
    outline: none;
    background-color:#EEEEEE;
    padding: 16px;
    height:36vh;
}
.no-logo .css-1wnsr1i {
    height:15vh;

}
.message-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    flex-direction: column;
    margin-top: 5%;
}
.success-svg {
    height:22vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    margin-bottom: 5%;
}

.success-body {
    font-size: 14px;
    text-align: center;

}