@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.view-item-container {
    /* border: 1px solid red; */
    height:100%;
}
.view-item-container-header {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.view-item-container-header-item {
    height: 10vh;
    /* width: 12vw; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    font-size: 34px;
    color: #3C84D3;
    font-family: 'Open Sans';
    font-weight: 700;
    /* letter-spacing: 0.4px; */
}

.view-item-container-content {
    /* border: 1px solid red; */
    height: 30vh;
    width: 45vw;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.view-item-container-content-start {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    background: #0603A9;
    /* width: 6vw; */
    border-radius: 20px;
    text-align: center;
    padding: 0.6% 4%;
    cursor: pointer;
}

.shipment-header-expand-icon {
    font-size: 35px !important;
    margin-left: 6px;
}

.location-item {
    flex-direction: column;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location-item img {
    width: 70%;
    /* margin-bottom: 10%; */
}
.truck-item {
    flex-direction: column;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.truck-item img {
    width: 72%;
    /* margin-bottom: 5%; */

}
.shop-item {
    flex-direction: column;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shop-item img {
    width: 36%;
    margin-bottom: 5%;

}


.view-item-input-fields-container {
    /* border: 1px solid red; */
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.view-item-input-fields-container-item {
    height: 30vh;
    width: 15vw;
    /* border: 1px solid red; */

}

.origin-input-field {
    /* border: 1px solid red; */
    height: 18vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.view-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 47vh;
    padding: 0.8%;
    background-color:#e7e7e7;
    border-radius: 16px;
    /* width: 14vw; */
}

.view-tab-container-item-field {
    height: 5vh;
    width: 100%;
    background-color: #CAD9FF;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    white-space: nowrap;
    /* margin-left: 10px; */
}

.view-tab-container-item-field input {
    outline:none;
    border: none;
    background-color: #CAD9FF;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 0% 2%
}
.view-item-labels{
    margin-left: 10px;
    font-size: 600;

}
.overflow-feature {
    overflow-x: auto;
    padding: 2px 4px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    width: 10px; 
    left:-100px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3C84D3;
    /* width: 10px; */
    border: 1px solid transparent;
    border-radius: 19px;
    background-clip: content-box;
    cursor: pointer;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 1px solid transparent;
    border-radius: 19px;
    background-clip: content-box;
    cursor: pointer;
  }
.view-item-footer-button {
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 19px;
    background: #0603A9;
    color: white;
    font-family: Roboto;
    font-size: 600;
    padding: 0.4% 1%;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    margin-top: -5px;
}
.view-item-footer {
    display: flex;
    margin-top: -5px;

}

.pagination {
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 19px;
    color: white;
    font-family: Roboto;
    font-size: 600;
    padding: 0.4% 1%;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    margin-top: -20px;

}

.pagination-item {
    border: 1px solid red;
}

.next-button {
    text-align: center;
    /* width: fit-content; */
    /* margin: auto; */
    /* border-radius: 19px; */
    background: #0603A9;
    color: white;
    font-family: Roboto;
    font-size: 600;
    padding: 0.4% 2%;
    position: absolute;
    white-space: nowrap;
    left:90%;
    /* font-size: 14px; */
    cursor: pointer;
    margin-top: -15px;
    border-radius: 16px;
}