@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.close-icon-wrapper {
  /* border: 1px solid red !important; */
  text-align: right;
  margin-top: -10px;
}

.close-icon-wrapper-start {
  width: 81vw;
  text-align: right;
  margin-top: -30px;
  /* margin-left: 10px; */
}

.error-postal-code {
  position: relative;
  top: -12%;
  font-size: 14px;
  color: red;
  /* left: 1%; */
}
.pac-container {
  z-index: 10000 !important;
}